<h1>Stupid Coaching</h1>
  <div>
    <%= params[:question] %>
    <p>--You</p>
  </div>
  <div>
    <%= @answer %>
    <p>--Your Coach</p>
  </div>
  <div>
    <%= link_to 'Ask a new question', ask_path %>
  </div>
