<h1>Stupid Coaching</h1>
  <div class="para">
    <%= params[:question] %>
    <p><i>--You</i></p>
  </div>
  <div class="para" id="answer">
    <b><%= @answer %></b>
    <p><i>--Your Coach</i></p>
  </div>
  <div>
    <%= link_to 'Ask a new question!', ask_path %>
  </div>
