// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 // Defining a variable
 $white: white;
 $font: Arial, sans-serif;

 body {
   background: $white; // Using this variable
   font-family: $font;
 }

 .banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: navy;
  font-family: $font;
  font-size: small;
  &:hover {
    color: black;
  }
}

.para {
  border-left: 4px solid #DDDDDD;
  padding-left: 4px;
  font-family: $font;
}

#answer {
  background-color: #FFFEE0;
  font-family: $font;
}
